* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  height: 10%;
}

header img {
  width: 10%;
}

.dropdown-toggle:hover {
  background-color: rgb(48, 45, 45);
}

#nav a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 2px;
}

.addToCart {
  position: absolute;
  right: 10px;
  top: 10px;
}

.addToCart:hover,
#addToCart:hover {
  transform: scale(1.1);
  background-color: #ffc107 !important;
  color: black !important;
}
