* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  height: 10%;
}

header img {
  width: 10%;
}

.addToCart {
  position: absolute;
  right: 10px;
  top: 10px;
}

.addToCart:hover {
  transform: scale(1.1);
  background-color: #ffc107 !important;
  color: black !important;
}
